[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

.vs/
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.unityproj
*.pidb
*.booproj

*.tmp
*.bak
*.swp
*.lock
*.log
*.orig

.DS_Store
Thumbs.db

*.dotCover